In [1]:
%load_ext autoreload
%autoreload 2

In [ ]:
import matplotlib.pyplot as plt

In [37]:
from tradedecomp.hdb import get_dataset

# <font color="grey">Trade decomposition</font>

### <font color="grey">  Table of Contents</font>

1. #### <a href='#chapter1'>Data</a>
2. #### <a href='#chapter2'>Trade decomposition</a>

###  <a id='chapter1'> <font color="grey">1. Data </font></a>

In [31]:
dl = get_dataset("trnk")

In [32]:
RCS = [f"{coin}USDT" for coin in ["BTC", "ETH", "SOL", "DOGE", "LINK"]]
TYPE = ['book', 'trade']
MONTHS = ['06', '07', '08']
TIMES = ['240720.0001', '240810.2350']

In [ ]:
df = dl.load_book(RCS[0], TIMES)
# Add human readable timestamp
df = df._dt.add_datetime('ts')
df.head()

shape: (5, 5)
┌─────────────────────┬─────────┬─────────┬─────────┬─────────┐
│ ts                  ┆ prc__s0 ┆ prc__s1 ┆ vol__s0 ┆ vol__s1 │
│ ---                 ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ u64                 ┆ f64     ┆ f64     ┆ f64     ┆ f64     │
╞═════════════════════╪═════════╪═════════╪═════════╪═════════╡
│ 1721433660046500000 ┆ 66689.9 ┆ 66690.0 ┆ 7.331   ┆ 10.59   │
│ 1721433660058500000 ┆ 66689.9 ┆ 66690.0 ┆ 7.331   ┆ 10.531  │
│ 1721433660063500000 ┆ 66689.9 ┆ 66690.0 ┆ 7.329   ┆ 10.531  │
│ 1721433660066500000 ┆ 66689.9 ┆ 66690.0 ┆ 6.079   ┆ 10.531  │
│ 1721433660069500000 ┆ 66689.9 ┆ 66690.0 ┆ 6.079   ┆ 10.513  │
└─────────────────────┴─────────┴─────────┴─────────┴─────────┘

In [36]:
tdf = dl.load_trades(RCS[0], TIMES)
# By default, the timestamp column is named 'ts'
tdf = tdf._dt.add_datetime()
tdf.head()

shape: (5, 5)
┌─────────────────────┬────────────┬─────────┬───────┬────────────────────────────┐
│ ts                  ┆ trade_id   ┆ prc     ┆ qty   ┆ dts                        │
│ ---                 ┆ ---        ┆ ---     ┆ ---   ┆ ---                        │
│ u64                 ┆ u64        ┆ f64     ┆ f64   ┆ datetime[ns]               │
╞═════════════════════╪════════════╪═════════╪═══════╪════════════════════════════╡
│ 1721433660058500000 ┆ 5185491785 ┆ 66690.0 ┆ 0.059 ┆ 2024-07-20 00:01:00.058500 │
│ 1721433660069500000 ┆ 5185491786 ┆ 66690.0 ┆ 0.018 ┆ 2024-07-20 00:01:00.069500 │
│ 1721433660157500000 ┆ 5185491787 ┆ 66690.0 ┆ 0.003 ┆ 2024-07-20 00:01:00.157500 │
│ 1721433660484500000 ┆ 5185491788 ┆ 66690.0 ┆ 0.015 ┆ 2024-07-20 00:01:00.484500 │
│ 1721433660603500000 ┆ 5185491789 ┆ 66690.0 ┆ 0.01  ┆ 2024-07-20 00:01:00.603500 │
└─────────────────────┴────────────┴─────────┴───────┴────────────────────────────┘